body {
  font-family: sans-serif;
  overflow-x: hidden;
  height: 1900px;
  background: #082033;
  
}

/* navigasi */
html {
  scroll-behavior: smooth;
}

header a {
  text-decoration: none;
}
header {
  padding: 0 20px;
  background-color: #1d1d1d;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

#brand {
  font-weight: bold;
  font-size: 15px;
  display: flex;
  align-items: center;
}

#brand a {
  color: rgb(222, 222, 64);
  margin-left: 200px;
}

ul {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  margin-left: -300px;
}

ul a {
  color: rgb(222, 222, 64);
}

ul li {
  padding: 5px;
  margin-left: 10px;
}

ul li:hover {
  transform: scale(1.1);
  transition: 0.3s;
}
/* navigasi end */


/* home */
span {
  color: rgb(222, 222, 64);
}

.content {
  display: flex;
  flex-direction: row;
}

.name {
  padding: 20%;
  padding-left: 300px;
  color: white;
}

.img {
  width: 20%;
  /* height: 500px; */
  margin: 2%;
}

.gambar {
  width: 290px;
  margin: 50%;
  margin-left: -50%;
  border-radius: 50%;
  height: 50%;
  box-shadow: 0 0 7px 0 white;
  border: 3px solid rgb(222, 222, 64) ;
}
/* home end */

/* About - Skills */
.container {
  max-width: 1000px;
  margin: 50px auto;
  padding: 10px;
  background:  grey;
  box-shadow: 0 0 5px 0 white;
  border-radius: 10px;
}

.gambar2 {
  width: 20%;
  margin: 5%;
  margin-left: -55%;
  border-radius: 50%;
  height: 200px;
}

.saya {
  text-align: center;
  margin-bottom: 100px;
}

.name2 {
  color: #333;
  margin-left: -60%;
  font-size: 25px;
  color: white;
}

.profile {
  /* margin-bottom: 50px; */
  font-family:Arial, Helvetica, sans-serif;
  text-align: left;
  width: 50%;
  margin-left: 40%;
  margin-top: -27%;
  line-height: 125%;
  text-align: justify;
  color: white;
  /* height: 50px; */
}

.paragraf {
  margin-left: 6%;
}

.paragraf2 {
  padding: 2%;
  margin-left: -2%;
}

.name3 {
  /* color: white; */
  margin-left: 2%;
}

.container2{
  width: 20%;
  padding: 1%;
  box-shadow: 0 0 5px 0 white;
  margin: 20px;
  margin-left: 16%;
  margin-top: -4%;
}

.html-logo {
  width: 30%;
  margin-left: 35%;
}

.html-logo:hover {
  transform: scale(1.2);
}

.html-name {
  text-align: center;
  color: white;
}

.container3 {
  width: 20%;
  padding: 1%;
  box-shadow: 0 0 5px 0 white;
  margin: 20px;
  margin-left: 40%;
  margin-top: -135px;
}

.css-logo {
  width: 30%;
  margin-left: 35%;
}

.css-logo:hover {
  transform: scale(1.2);
}

.css-name {
  text-align: center;
  color: white;
}

.container4 {
  width: 20%;
  padding: 20px;
  box-shadow: 0 0 5px 0 white;
  margin: 20px;
  margin-left: 64%;
  margin-top: -135px;
}

.js-logo {
  width: 25%;
  margin-left: 35%;
}

.js-logo:hover {
  transform: scale(1.2);
}

.js-name {
  /* text-align: center; */
  color: white;
  margin-left: 27%;
}
/* end */

/* card */
.card-container5 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 100px;
  padding: 6%;
}

.card {
  width: 325px;
  background-color: #f0f0f0;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
  margin: 20px;
}

.card img {
  width: 100%;
  height: auto;
}

.card-content {
  padding: 16px;
}

.card-content h3 {
  font-size: 28px;
  margin-bottom: 8px;
}

.card-content p {
  color: grey;
  font-size: 15px;
  line-height: 1.3;
}

.card-content .btn {
  display: inline-block;
  padding: 8px 16px;
  background-color: #333;
  text-decoration: none;
  border-radius: 4px;
  margin-top: 16px;
  color: #fff;
}

.card-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.past {
  text-align: center;
  justify-content: center;
  margin-top: -500px;
  font-size: 20px;
}
/* end */


/* Contact start */
section.contact {
  font-size: 10px;
  padding: 20px;
  /* height: 100vh; */
}

.container-contact {
  width: 100%;
}

.sec-bebas {
  color: white;
}

.right {
  display: flex;
  border-radius: 8px;
  margin-right: 20px;
  flex: 1;
  height: 460px;
  background-color: grey;
  justify-content: center;
  align-items: center;
}

.left {
  display: flex;
  flex: 1;
  height: 522px;
  justify-content: center;
  align-items: center;
  color: white;
}

.left-container {
  height: 50%;
  width: 100%;
  text-align: center;
  line-height: 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.left p {
  font-size: 2rem;
  color: white;
  /* text-align: center; */
}


.left-container h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.left-container ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left-container ul li a {
  color: rgb(222, 222, 64);
  font-size: 1rem;
  font-family: "poppins";
  /* margin-left: 300px; */
}

.right-container {
  text-align: center;
  width: 70%;
  height: 80%;
  text-align: center;
}

input,
textarea {
  background-color: white;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
  font-size: 0.8rem;
}

input:focus,
textarea:focus {
  outline: 1px solid rgb(222, 222, 64);
}

button {
  border-radius: 20px;
  border: 1px solid grey;
  background-color: rgb(222, 222, 64);
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-out;
  cursor: pointer;
}

.left-container ul li a:hover {
    color:grey;
}

button:hover {
  opacity: 0.7;
}

textarea {
  height: 90px;
}

.end {
  padding: 20px 15%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  background: var(--prima-color);
}
.last-text p {
  color: white;
  font-size: 14px;
}
.top i {
  padding: 10px;
  border-radius: 8px;
  font-size: 15px;
  color: yellow;
  background: yellow;
}

.typewriter {
  position: relative;
}
/* Contact end */

/* Animation */
.typewriter span {
  position: relative;
  color: white;
  font-size: 25px;
}

.typewriter span::before {
  content: 'Web Developer';
  color: white;
  animation: words 20s infinite;
}

.typewriter span::after {
  content: '';
  position: absolute;
  right:-80px;
  color: transparent;
  background-color: #082033;
  width: calc(100% + 80px);
  height: 110%;
  animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}
/* Animation */
@keyframes cursor {
  to {
    border-left: 2px solid #082033;
  }
}

@keyframes words {
    0%,
    20%{
    content: 'Web Developer';
  }
  21%,
  41% {
    content: 'Designer';
  }
  42%,
  61% {
    content: 'Freelance';
  }
  62%,
  80% {
    content: 'UI / UX Designer';
  }
  81%,
  100% {
    content: 'Cyber Security';
  }
}
@keyframes typing {
  10%,
  15%,
  30%,
  35%,
  50%,
  55%,
  70%,
  75%,
  90%,
  95%  {
    width: 0;
  }
  5%,
  20%,
  25%,
  40%,
  45%,
  60%,
  65%,
  80%,
  85% {
    width: calc(100% + 80px);
  }
}
/* Animasi end */


/* Responsive Tablet*/
@media screen and (max-width: 768px) {
  header nav  {
    width: 10%;
    
  }
  #brand a {
    margin-left: 50px;
  }

  ul {
    margin-left: -350px;
  }

  .logo {
    width: 300px;
  }

  .content {
    width: 100%;
    margin-left: -29%;
  }

  .img {
    height: 10%;
  }

  .container  {
    width: 80%;    
  }

  .profile {
    margin-top: -40%;
  }

  .name2 {
    font-size: 80%;
  }

  .gambar2 {
    width: 30%;
    height: 20%;
  }

  .name3 {
    font-size: 100%;
  }

  .container3 {
    margin-top: -13%;
  }

  .container4{
    width: 22%;
    margin-top: -98px;
    padding: 10px; 
  }

  .js-name {
    width: 100px;  
    margin-left: 20%;
  }
  
  .past {
    margin-top: -190%;
    font-size: 100%; 
  }
} 

/* hamburger menu */
#hamburger-icon {
  margin: auto 0;
  display: none;
  cursor: pointer;
}
#hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: yellow;
  margin: 6px 0;
  transition: 0.4s;
}
.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}
.open .bar2 {
  opacity: 0;
}
.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}
.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: grey;
  width: 100px;
  height: 270px;
  margin-left: 223px;
  margin-top: 1px;
  border-radius: 3px;
  transition: all 0.6s;
}
.mobile-menu {
  display: none;
  position: absolute;
  top: 50px;
  left: 160px;
  height: calc(100vh - 50px);
  width: 100%;
}
.mobile-menu li {
  margin-bottom: 50px;
}

.logo2 {
  margin: 25px;
  width: 10%;
  margin-top: -50px;  
  cursor: pointer;
}
/* end */


/* Mobile */
@media only screen and (max-width: 600px) {
  header nav {
    display: none;
  }
  

  #hamburger-icon {
    display: block;
  }
  ul {
    margin-left: 20px;
    justify-content: space-around;
  }
  #brand a {
    margin-left: 50px;
  }

  
  .content {
    width: 100%;
    margin-left: -50%;
    display: flex;
    flex-direction: row;
  }

  .logo {
    margin-left: -150px;
  }

  .icon {
    margin-left: 350px;
  }

  .img {
  margin-top: 220px;
   width: 100px;
   margin-left: -155px;
  }

  .gambar {
    width: 200px;
  }

  .gambar2 {
    width: 200px;
    margin-left: 5%;
  }

  .container  {
    width: 80%;   
  }

  .profile {
    text-align: center;
    margin-top: 10%;
    margin-left: 90px;
  }

  .name2 {
    font-size: 80%;
    margin-left: -100px;
  }

  .name3 {
    font-size: 100%;
    margin-top: -20px;
    margin-left: 50px;
  }

  .container2 {
    margin-top: 50px;
  }

  .container3 {
    margin-top: -78px;
  }

  .container4{
    width: 22%;
    margin-top: -79px;
    height: 60px; 
  }

  .js-name {
    width: 100px;  
    margin-left: -0%;
  }

  .past {
    margin-top: -1250px;
    font-size: 100%;  
  }
}